<%= form_for(@user) do |f| %>
  <%= render 'error_messages', object: f.object %>
    <%= f.text_field :name, class: "form-control input-lg", autofocus: true, placeholder: "Name"  %>
    <br />
    <%= f.text_field :email, class: "form-control input-lg", placeholder: "Email" %> 
    <br />
    <%= f.password_field :password, class: "form-control input-lg", placeholder: "Password" %>
    <br />
    <%= f.password_field :password_confirmation, class: "form-control input-lg", placeholder: "Password Confirmation" %>
    <br />
    <%= f.submit 'Create my account', class: "btn btn-large btn-warning btn-block" %>
  <% end %>
</br>
<p class="lead text-center sign_note"><%= link_to "Already a user? Sign in!", signin_path %></p>

