<%= form_for(:song, url: songs_path) do |f| %>
  <td><%= f.select(:playlist_id, options_for_select(@playlists.map { |pl| [pl.name, pl.id]})) %></td>
  <%= f.hidden_field :name,      value: song["title"] %>
  <%= f.hidden_field :artist,    value: song["artist_name"] %>
  <%= f.hidden_field :bpm,       value: song["audio_summary"]["tempo"].to_i %> 
  <td><%= f.submit "Add", class:"btn btn-success" %></td>  
<% end %>