
<h1 class="text-center">Song Search</h1>

<div class="jumbotron" id="search">
  <div class="col-md-12 text-center">
    <p> Select your search parameters to begin.</p>   
  </div>
  <div class="col-md-12 text-center">
    <%= form_tag songs_path, :method => 'get' do %>
      <%= select_tag :min_tempo, options_for_select([["select min bpm", " "], 
                                                         ["100", "100"],
                                                         ["120", "120"],
                                                         ["140", "140"],
                                                         ["160", "160"],
                                                         ["180", "180"],
                                                         ["200", "200"],
                                                         ["220", "220"],
                                                         ["240", "240"],
                                                         ["260", "260"],
                                                         ["280", "280"],
                                                         ["300", "300"],
                                                         ["320", "320"],
                                                         ["340", "340"],
                                                         ["360", "360"],
                                                         ["380", "380"],
                                                         ["400", "400"],
                                                         ["420", "420"],
                                                         ["440", "440"],
                                                         ["460", "460"],
                                                         ["500", "500"]]) %>
      <%= select_tag :max_tempo, options_for_select([["select max bpm", " "],
                                                         ["100", "100"],
                                                         ["120", "120"],
                                                         ["140", "140"],
                                                         ["160", "160"],
                                                         ["180", "180"],
                                                         ["200", "200"],
                                                         ["220", "220"],
                                                         ["240", "240"],
                                                         ["260", "260"],
                                                         ["280", "280"],
                                                         ["300", "300"],
                                                         ["320", "320"],
                                                         ["340", "340"],
                                                         ["360", "360"],
                                                         ["380", "380"],
                                                         ["400", "400"],
                                                         ["420", "420"],
                                                         ["440", "440"],
                                                         ["460", "460"],
                                                         ["500", "500"]]) %>
      <%= select_tag :style,     options_for_select([["select genre", " "], 
                                                     ["80's","80s"], 
                                                     ["90's","90s"], 
                                                     ["Folk","folk"], 
                                                     ["Country", "country"], 
                                                     ["Salsa", "salsa"],
                                                     ["Ambient", "ambient"],  
                                                     ["Hip Hop", "hiphop"], 
                                                     ["Punk", "punk"], 
                                                     ["Rap", "rap"], 
                                                     ["Reggae", "reggae"], 
                                                     ["Rock", "rock"]]) %>

      <%= submit_tag "Search", :name => nil, class:"btn btn-default" %>
    <% end %>
  </div>

  <table class="table table-striped table-hover table-bordered">
    <tr>
      <th>Song Title</th>
      <th>Artist Name</th>
      <th>Add to Playlist?</th>
    </tr>
    <% unless @results.nil? %>
      <% @results["response"]["songs"].each do |song| %>
        <tr>
          <td><%= "#{song["title"]}" %></td> 
          <td><%= "#{song["artist_name"]}" %></td>
          <td>
            <%= form_for(:song, url: songs_path) do |f| %>
              <%= f.select(:playlist_id, options_for_select(@playlists.map { |pl| [pl.name, pl.id]})) %>
              <%= f.hidden_field :name,      value: song["title"] %>
              <%= f.hidden_field :artist,    value: song["artist_name"] %>
              <%= f.hidden_field :artist,    value: song["artist_name"] %>
              <%= f.hidden_field :min_tempo, value: params[:min_tempo]%>
              <%= f.hidden_field :max_tempo, value: params[:max_tempo]%> 
              <%= f.submit "Add" %>  
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>