<%= form_for(@playlist) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<br />
<div class="text-center">
  <h2>
      <%= f.label :name %> </br>
      <%= f.text_field :name %>
   <br/>
      <%= f.submit 'Create Playlist', class: "btn btn-lg btn-warning", autofocus: true %>
  </h2>
</div>

<% end %>