<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% if signed_in? %>
        <ul class="navbar-brand"><%= link_to "on.BEAT", user_path(current_user.id) %></ul>
      <% else %>
        <ul class="navbar-brand"><%= link_to "on.BEAT", home_path %></ul>
      <% end %>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if signed_in? %>
        <ul class="nav navbar-nav navbar-left">
          <li><%= link_to "My Playlists", playlists_path %></li>
          <li><%= link_to "Search", songs_path %></li>
          <li><%= link_to "About", about_path %></li>
        </ul> 
        <ul class="nav navbar-nav navbar-right">
          <p class="navbar-text"><%= current_user.email %></p>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
            <ul class="dropdown-menu">z
              <li><%= link_to "Sign Out", signout_path, method: "delete" %></li>
            </ul>
          </li>
        </ul>   
      <% else %>
        <ul class="nav navbar-nav navbar-left">
          <li><%= link_to "About", about_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Sign Up", signup_path %></li>
          <li><%= link_to "Sign In", signin_path %></li>
        </ul>
      <% end %> 
    </div><!-- /.navbar-collapse -->  
  </div>
</nav>
